* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: visible;
  overflow-x: hidden;
  font-family: Quicksand;
  background-color: #555;
}

@media screen and (min-width: 801px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 800px) {
  body {
    background-color: green;
  }
}

nav {
  background-color: #101010;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  z-index: 3;
  max-height: 80px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.navMenu li {
  position: relative;
  text-decoration: none;
}

.navMenu li a {
  display: inline-block;
  list-style: none;
  font-size: 25px;
  margin: 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.navMenu li a::after {
  content: " ";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.5s;
}

.navMenu li a:hover::after {
  width: 100%;
}

nav img {
  height: 60px;
  width: 60px;
}

.hamburgerMenu {
  display: none;
}

/* About */
.about {
  position: absolute;
  top: 100px;
  display: flex;
  background-color: #202020;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
}

/* Section */
section {
  display: flex;
  background-color: #202020;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.container:nth-child(odd) {
  background-color: #f2f2f2;
}

.container:nth-child(even) {
  background-color: #e0e0e0;
}

.block {
  display:block;
  margin: 0;
  padding: 0;
}

/* Container */
.centered-container {
  /*
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: #0f161c;
  color: #fff;
  font-size: 20px;
  */

  background-color: rgba(169, 169, 169, 0.3);
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;

  /*
  top: 0;
  height: 100vh;
  width: 100%;
  */
}

p {
  font-size: 22px;
}

/* Float Box*/
.floatBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  background-color: rgba(169, 169, 169, 0.3);
}

/*
h1 {
  position: relative;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
  height: 50%;
  width: 50%;
  font-size: 30px;
  color: #fff;
}

p {
  word-wrap: break-word;
}
*/

.flex-container {
	position: relative;
	display: flex;
	background-color: #606060;
}

.left-container {
	flex: 1 1 30%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: photo;
	background-color: #202020;
}

.left-container img {
  max-width: 225px;
  height: auto;
	object-fit: cover;
}

.right-container {
	flex: 1 1 70%;
	display: flex;
  position: relative;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	grid-area: text;
	background-color: #404040;
}

.right-container h1 {
	flex: 1 1 20%;
	background-color: #757575;
	width: 95%;
  height: 95%;
	max-height: 2em;
	font-size: 2em;
	margin-bottom: 0;

  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.right-container p {
	flex: 1 1 80%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  font-size: 1em;
  width: 95%;
  height: 95%;
	background-color: #959595;

  display: block;
  margin-block-start: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* Styles for Desktop > 800px */
@media screen and (min-width: 801px) {
	/* CSS code for desktop styles */
	nav {
    background-color: green;
  }
}

/* Styles for Mobile (width <= 800) */
@media screen and (max-width: 800px) {
	/* CSS code for tablet styles */
	nav {
    background-color: red;
  }

	.flex-container {
		flex-direction: column; /* Stack containers on top of each other */
	}

	.left-container,
	.right-container {
		flex: 100%; /* Take full width when stacked */
	}
}


/* Footer */
footer {
  position: relative;
  bottom: 0;
  margin-top: 88px;
  height: 160px;
  width: 100%;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p {
  color: white;
  font-size: 18px;
  width: 500px;
  margin-top: 0px;
  text-align: center;
  line-height: 26px;
}

footer p.end {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
}
