* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  overflow: visible;
  overflow-x: hidden;
  font-family: Quicksand;
  background-color: #555;
}

nav {
  /*
  background-color: #101010;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  z-index: 3;
  max-height: 80px;
  */

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

section {
  display: block;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  list-style: none;
}

.navMenu li {
  position: relative;
  text-decoration: none;
}

.navMenu li a {
  display: inline-block;
  list-style: none;
  font-size: 25px;
  margin: 15px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.navMenu li a::after {
  content: " ";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.5s;
}

.navMenu li a:hover::after {
  width: 100%;
}

nav img {
  height: 60px;
  width: 60px;
}

.hamburgerMenu {
  display: none;
}

.line1,
.line2,
.line3 {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.page {
  width: 100%;
  height: 100%;
}
/* nav ul{display:block;} */
#page1 {
  background: red;
}
#page2 {
  background: green;
}
#page3 {
  background: blue;
}

/* About */
.about {
  position: absolute;
  top: 100px;
  display: flex;
  background-color: #202020;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100vw;
}

/* Section */
section {
  display: flex;
  background-color: #202020;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.container:nth-child(odd) {
  background-color: #f2f2f2;
}

.container:nth-child(even) {
  background-color: #e0e0e0;
}

.block {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Container */
.centered-container {
  /*
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: #0f161c;
  color: #fff;
  font-size: 20px;
  */

  background-color: rgba(169, 169, 169, 0.3);
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;

  /*
  top: 0;
  height: 100vh;
  width: 100%;
  */
}

p {
  font-size: 22px;
}

#move h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 40px;
  color: #555;
  background-color: #707070;
}

.move-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: #606060;
}

.move-img img {
  display: block;
  width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

.move-img {
  margin: 0 1rem;
  position: relative;
}

/* Float Box*/
.floatBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  background-color: rgba(169, 169, 169, 0.3);
}

/*
h1 {
  position: relative;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
  height: 50%;
  width: 50%;
  font-size: 30px;
  color: #fff;
}

p {
  word-wrap: break-word;
}
*/

.flex-container {
  position: relative;
  display: flex;
  background-color: #606060;
}

.left-container {
  flex: 1 1 30%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: photo;
  background-color: #202020;
}

.left-container img {
  max-width: 225px;
  height: auto;
  object-fit: cover;
}

.right-container {
  flex: 1 1 70%;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-area: text;
  background-color: #404040;
}

.right-container h1 {
  flex: 1 1 20%;
  background-color: #757575;
  width: 95%;
  height: 95%;
  max-height: 2em;
  font-size: 2em;
  margin-bottom: 0;

  display: block;
  font-size: 2em;
  margin-block-start: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.right-container p {
  flex: 1 1 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  width: 95%;
  height: 95%;
  background-color: #959595;

  display: block;
  margin-block-start: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* Styles for Desktop > 800px */
@media screen and (min-width: 801px) {
  /* CSS code for desktop styles */
  nav {
    background-color: green;
  }
  #move {
    background-color: red;
  }
  .move-img img {
    width: 100%;
    max-height: auto;
  }
}

/* Styles for Mobile (width <= 800) */
@media screen and (max-width: 800px) {
  /* CSS code for tablet styles */
  nav {
    background-color: red;
  }

  .flex-container {
    flex-direction: column; /* Stack containers on top of each other */
  }

  .card {
    flex-direction: column;
    align-items: stretch;
    flex: 100%;
  }

  .left-container,
  .right-container {
    flex: 100%; /* Take full width when stacked */
  }

  .hamburgerMenu {
  display: block;
  cursor: pointer;
  }

  .navMenu {
    position: fixed;
    left: -105%;
    top: 5rem;
    flex-direction: column;
    background-color: rgb(29, 29, 29);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
list-style: none;
}
.navMenu.active {
    left: 0;
}
.navItem {
    margin: 2.5rem 0;
}

  .hamburgerMenu.active .line1 {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburgerMenu.active .line2 {
    opacity: 0;
  }
  .hamburgerMenu.active .line3 {
    transform: translateY(-8px) rotate(-45deg);
  }

  #move {
    background-color: blue;
  }

  .move-container {
    flex-direction: column;
    align-items: stretch;
  }

  .move-card:not(:last-child) {
    margin-bottom: 3rem;
  }

  .move-img {
    margin: 0;
  }

  .move-img img {
    width: 80%;
    max-height: auto;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #606060;
  height: 50%;
  width: 30%;
  padding: 20px;
}

.card h1 {
  font-size: 0.8em;
}

.card p {
  font-size: 0.5em;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  margin-top: 88px;
  height: 160px;
  width: 100%;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p {
  color: white;
  font-size: 18px;
  width: 500px;
  margin-top: 0px;
  text-align: center;
  line-height: 26px;
}

footer p.end {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
}
